/* Loading Screen */
.loading {
    width: 100%;
    height: 100vh;
    display: flex;
    background: #000;
    align-items: center;
    justify-content: center;
}
.loading img {
    width: 60px;
}

/* Login Main Container */
.login {
    height: 100vh;
    padding: 20px 8%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('./background_banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.login-logo {
    width: 150px;
}

.login-form {
    width: 100%;
    margin: auto;
    padding: 60px;
    max-width: 450px;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.75);
}
.login-form h1 {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 20px;
}
.login-form input {
    width: 100%;
    height: 50px;
    margin: 12px 0;
    padding: 16px 20px;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    border: 0;
    outline: 0;
    border-radius: 4px;
    background: #333;
}
.login-form input::placeholder {
    color: #B5B5B5;
}
.login-form button {
    width: 100%;
    margin-top: 20px;
    padding: 16px;
    border: 0;
    outline: 0;
    color: #FFF;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    background: #E50914;
    transition: background 0.2s ease-in-out;
}
.login-form button:hover {
    background: #F6121D;
}

.form-help {
    display: flex;
    color: #B3B3B3;
    font-size: 13px;
    align-items: center;
    justify-content: space-between;
}

.remember {
    display: flex;
    align-items: center;
    gap: 5px;
}
.remember input {
    width: 18px;
    height: 18px;
}

.form-switch {
    margin-top: 40px;
    color: #737373;
}
.form-switch span {
    margin-left: 6px;
    color: #FFF;
    font-weight: 500;
    cursor: pointer;
}

@media (max-width: 500px) {
    .login {
        padding: 15px 5%;
    }
    .login-form {
        padding: 20px;
        margin-top: 30px;
    }
}