.cards {
    margin: 50px 0 30px 0;
}
.cards h2 {
    margin-bottom: 8px;
}

.card-list {
    display: flex;
    gap: 10px;
    overflow-x: scroll;
}
.card-list::-webkit-scrollbar {
    display: none;
}
.card-list img {
    width: 240px;
    border-radius: 4px;
    cursor: pointer;
}
.card-list .card {
    position: relative;
}
.card-list .card p {
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
    color: #FFF;
}

@media (max-width: 800px){
    .cards {
        margin-top: 20px;
        margin-bottom: 0;
    }
    .cards h2 {
        font-size: 20px;
    }
    .card-list img {
        width: 150px;
    }
    .card-list p {
        font-size: 12px;
    }
}
@media (max-width: 500px){
    .cards h2 {
        font-size: 15px;
    }
    .card-list img {
        width: 100px;
    }
    .card-list p {
        font-size: 9px;
    }
}