.banner {
    position: relative;
}
.banner-img {
    width: 100%;
    mask-image: linear-gradient(to right, transparent, black 75%);
    -webkit-mask-image: linear-gradient(to right, transparent, black 75%);
}

.caption {
    position: absolute;
    width: 100%;
    padding-left: 6%;
    bottom: 0;
}
.caption-img {
    width: 90%;
    max-width: 420px;
    margin-bottom: 30px;
}
.caption p {
    max-width: 700px;
    font-size: 17px;
    margin-bottom: 20px;
}

.btns {
    margin-bottom: 50px;
    display: flex;
    gap: 10px;
}
.btns .btn img {
    width: 25px;
}
.btns .btn{
    border: 0;
    outline: 0;
    padding: 8px 20px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    font-weight: 600;
    background: #FFF;
    border-radius: 4px;
    cursor: pointer;
}
.btns .btn:hover {
    background: #FFFFFFBF;
}
.btns .info-btn {
    color: #FFF;
    background: #6D6D6EB3;
}
.btns .info-btn:hover {
    background: #6D6D6E66;
}

.more-cards {
    padding-left: 6%;
}

.banner::-webkit-scrollbar {
    display: none;
}

@media (max-width: 1024px) {
    .caption .cards {
        display: none;
    }
    .caption .btns {
        margin-bottom: 30px;
    }
}
@media (max-width: 800px) {
    .caption {
        padding-left: 4%;
    }
    .caption-img {
        width: 40%;
        margin-bottom: 10px;
    }
    .caption p {
        font-size: 12px;
        margin-bottom: 10px;
    }
    .btns .btn img {
        width: 20px;
    }
    .more-cards {
        padding-left: 4%;
    }
}
@media (max-width: 500px) {
    .caption-img {
        display: none;
    }
    .btns .btn {
        padding: 4px 10px;
        gap: 5px;
        font-size: 10px;
    }
    .btns .btn img {
        width: 15px;
    }
}