.player {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.player img {
    width: 50px;
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
}
.player iframe {
    border-radius: 10px;
}

.player-info {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}